@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    height: 100vh;
    overflow-x: hidden;
    background-color: #684BB1;
    background-image: url(./assets/bg-mobile.svg);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 35px 40px 35px;


}

.cont {
    width: 304px;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    width: auto;
    height: auto;
    align-self: self-start;
}

.mainimg {
    margin-top: 64px;
}

main {

    margin-top: 56px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 24px;
    line-height: 125%;
    font-family: "Poppins", sans-serif;

    font-weight: 600;
}

h2 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: white;
    margin-top: 24px;
}

button {
    width: 200px;
    height: 40px;
    color: #684BB1;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border-radius: 12px;
    border: none;
    pointer-events: none;
    margin-top: 32px;
}

footer {
    display: flex;
    margin-top: 62px;
    gap: 16px;
}